<%- include('partials/header') %>


  <h1><%=user.name%>'s Feed</h1>
  <h4>Recent Tweets from followers</h4>

<% tweets.forEach(function(tweet){ %>
    <hr>
    <div class="">
      <p><%=tweet.content%></p>
    </div>
    <hr>
<%  }); %>

<%- include('partials/footer') %>
