<%- include('partials/header') %>

<div class="login">
  <a href="/login" class="btn btn-primary">Login</a>
  <a href="/register" class="btn btn-success">Sign Up</a>
</div>

<%- include('partials/footer') %>
