<%- include('partials/header') %>

<div class="">
  <form class="" action="/register" method="post">
    <input type="text" name="username" value="" placeholder="username">
    <input type="text" name="fname" value="" placeholder="Full Name">
    <input type="email" name="email" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="password">
    <button type="submit" name="button">Sign Up</button>
  </form>
</div>

<%- include('partials/footer') %>
